<div class="animate__animated animate__fadeInLeft contact bg-gradient-dark">
  <div class="contact-form">
  <span class="input-group-text" id="title-span">Need some more information? Send us a message through this form or give us a call</span>
  <br>
  <select class="form-select col-2" aria-label="Default select example">
    <option selected>Contact ...</option>
    <option value="1">I wish to buy a kiosk</option>
    <option value="2">I have further questions </option>
    <option value="3">Other...</option>
  </select>
  <br>
  <div class="input-group mb-3 ">
    <span class="input-group-text col-3" id="basic-addon1">Name</span>
    <input type="text" class="form-control" placeholder="Whats your name?" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  
  
  <div class="input-group mb-3 ">
    <span class="input-group-text col-3" id="basic-addon1">Email </span>
    <input type="text" class="form-control" placeholder="email@example.com" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3 ">
    <span class="input-group-text col-3" id="basic-addon1">Phone number</span>
    <input type="text" class="form-control" placeholder="A phone number to reach you" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  
  <div class="input-group">
    <span class="input-group-text col-3" >Issue</span>
    <textarea class="form-control" aria-label="With textarea" placeholder="How can we help you?"></textarea>
  </div>
</div>
</div>
<app-footer></app-footer>