.contact{
    background-color: #151f20;
    margin-top: 80px;
    padding-top: 15vh;
    width: 100%;
}
.contact-form{
    width: 35%;
    margin: auto;
    padding-bottom: 12vh;
}

#title-span{
    background-color: #151f20;
    border-radius: 5px;
    color: whitesmoke;
    justify-content: center;
}