<div class="animate__animated animate__fadeInLeft container">

  <span class="input-group-text" id="title-span">Need some more information? Send us a message through this form or give us a call</span>
  <br>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" class="form-control" placeholder="Whats your name?" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Email or phone number</span>
    <input type="text" class="form-control" placeholder="How can we contact you?" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  
  <div class="input-group">
    <span class="input-group-text">Issue</span>
    <textarea class="form-control" aria-label="With textarea" placeholder="How can we help you?"></textarea>
  </div>
</div>