<div class="content bg-gradient-dark">
  <br>
 <table class="animate__animated animate__fadeInLeft table">
    <thead>
      <tr>
        <th scope="col">Sales range (Per Kiosk)</th>
        <th scope="col">Moneta fee (Monthly)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$0 - $2,999</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>$3,000 - $4,999</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Over $5,000</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table> 
  <div class="animate__animated animate__fadeInRight container">
    <h2 class="title-text1">How much does each system cost? </h2>
    <p class="text-space1">You can use our calculator below to calculate your average monthly sales and fees</p>
    <p class="text-space1">Just add and type the amount each sell point produces monthly</p>
      
    <form #myform="ngForm" (ngSubmit)="calcFee()">

      <div class="row d-flex justify-content-center animate__animated animate__fadeIn" *ngFor="let machine of machines; index as i" >
        <span class="machine col-1">Kiosk {{i+1}}</span>
        <span class="machine col-2">Monthly Sales</span>
        <input class="number col-2" name="sales{{i}}" (click)="sales[i]= ''" placeholder="$ of sales by credit card" [(ngModel)]="sales[i]">
        <span class="machine col-2">{{singleFee[i] | currency}} per month</span>
        <button class="delete bg-danger col-1" (click)="removeMachine(i)"><img src="https://img.icons8.com/material-rounded/24/000000/trash.png"/></button>
      </div>
      <div class="row d-flex justify-content-center" id="buttons">
        <button id="add-button" type="button" (click)="addMachine()">Add market</button>
        <button id="calc-button" type="submit" >Calculate</button>
      </div>
      
    </form>
    <br>
    <div class="col animate__animated animate__fadeIn" *ngIf="monthlyFee > 0">
      <h2 class="title-text1">Total monthly fee : {{monthlyFee | currency }}</h2>
    </div>
  </div>
</div>
<app-footer></app-footer>