<table class="animate__animated animate__fadeInLeft table">
    <thead>
      <tr>
        <th scope="col">Sales range (Per Kiosk)</th>
        <th scope="col">Moneta fee (Monthly)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Under or equal to $300</td>
        <td>$0</td>
      </tr>
      <tr>
        <td>Over $300 - Under or equal to $3,000</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Over $3,000 - Under or equal to $5,000</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Over $5,000</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>

  <div class="animate__animated animate__fadeInRight container">
    <h2 class="title-text1">How much does each system cost? </h2>
    <p class="text-space1">You can use our calculator below to calculate your average monthly sales and fees</p>
    <p class="text-space1">Just add and type the amount each sell point produces monthly</p>
    <div class="row">
      <button type="button" (click)="addMachine()">Add spot</button>
      
      <div class="input-group mb-3 col" *ngFor="let machine of machines; let i = index">
        <span class="input-group-text">Kiosk {{i+1}}</span>
        <input name="Machine_{{i}}" type="text" placeholder="Monthly earnigns">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeMachine(i)">Remove</button>
      </div>
      <button type="submit">Calculate</button>
    </div>
    <div class="col" *ngIf="Fee > 0"><h2 class="title-text1">Monthly fee: {{Fee}}</h2></div>
  </div>