.table{
    width: 60%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.title-text1{
    color: #151f20;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
.text-space1{
    color: #151f20;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}