<table class="table">
    <thead>
      <tr>
        <th scope="col">Sales range (Pero kiosk)</th>
        <th scope="col">Moneta fee (Monthly)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Under or equal to $300</td>
        <td>$0</td>
      </tr>
      <tr>
        <td>Over $300 - Under or equal to $3,000</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Over $3,000 - Under or equal to $5,000</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Over $5,000</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>