
<div id="section1" class="animate__animated animate__fadeInLeft row" >
    <div class="col-4">
        <h2 class="title-text1">The new way of vending</h2>
        <p class="text-space1">Moneta Market is a revolutionary way to easily keep track of your sales and keeps your customers happy.</p>
        <h3 class="title-text1">The core elements of your business</h3>
        <p class="text-space1">Sales, users, credits & product management in a simple web interface compatible with any device. All the functions you need to have a proper vending business administration.</p>
    </div>
    <div class="col-4"><img class="photo"src="https://www.dropbox.com/s/mpb1wtmh3yptemx/Moneta%20Page.PNG?raw=1" alt=""></div>
    <div class="col-4">
        <h2 class="title-text1">Manage your sales however you choose</h2>
        <table class="table">
            <tr>
                <td><img class="icon" src="https://img.icons8.com/ios/100/000000/fingerprint.png"/></td>
                <td><img class="icon" src="https://img.icons8.com/external-gradak-royyan-wijaya/96/000000/external-card-gradak-ecommerce-gradak-royyan-wijaya.png"/></td>
            </tr>
                <td><img class="icon" src="https://img.icons8.com/ios/100/000000/qr-code--v1.png"/></td>
                <td><img class="icon" src="https://img.icons8.com/ios/100/000000/barcode.png"/></td>
        </table>
        <p class="text-space1">Moneta Market offers different ways for your users to register and get anything they want</p>
    </div>
</div>
<div id="section2"class="animate__animated animate__fadeInRight row" >
    <div class="col-6"><img class="photo1" src="https://www.dropbox.com/s/u6q7s3gqote9hdr/Dashboard.PNG?raw=1" alt=""></div>
    <div class="col-6">
        <h2 class="title-text1">Moneta App</h2>
        <p class="text-space1">We took into consideration multiple customers needs to create the most friendly software to give the best and fastest experience possible.</p>
        <h2 class="title-text1">Pay the easy way</h2>
        <p class="text-space1">With the Moneta Market kiosk system you can pay in a number of different ways to ensure you can always buy your favorite products</p>
        <img class="icon1" src="https://img.icons8.com/ios/100/000000/mastercard-credit-card.png"/>
        <img class="icon1" src="https://img.icons8.com/ios/100/000000/banknotes.png"/>
        <img class="icon1" src="https://img.icons8.com/ios/100/000000/checked-identification-documents.png"/>
    </div>
</div>