
<div id="section1"class="animate__animated animate__fadeInLeft row" >
    <div class="col-md">
        <h2 class="title-text1">The new way of vending</h2>
        <img class="photo"src="https://www.dropbox.com/s/kbmfi33f954s6hq/Moneta%20App.PNG?raw=1" alt="">
        <p class="text-space1">Moneta Market is a revolutionary way to easily keep track of your sales and keeps your customers happy</p>
    </div>
    
    <h2 class="title-text2">Manage your sales however you choose</h2>
    <div class="col">
        <img class="icon" src="https://img.icons8.com/ios/100/000000/fingerprint.png"/>
        <img src="https://img.icons8.com/external-gradak-royyan-wijaya/96/000000/external-card-gradak-ecommerce-gradak-royyan-wijaya.png"/>
        <img src="https://img.icons8.com/ios/100/000000/qr-code--v1.png"/>
        <img src="https://img.icons8.com/ios/100/000000/barcode.png"/>
        <p class="text-space2">Moneta Market offers different ways for your users to purchase anything they want</p>
    </div>
</div>
