.product{
    margin-top: 12vh;
    padding-bottom: 12vh;
}
.product-form{
    margin: auto;
    width: 80%;
}
.title-text1{
    color: whitesmoke;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
.row{
    margin: 2%;
}
button{
    width: 15%;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    background-color: #151f20;
    color: whitesmoke;
    border: solid whitesmoke;
    border-width: 1px;
}
button:hover{
    background-color: whitesmoke;
    color: #151f20;
}