.content{
    background-color: #151f20;
    margin-top: 80px;
    padding-top: 15vh;
    width: 100%;
}
form{
    width: 35%;
    margin: auto;
    padding-bottom: 12vh;
}
label{
    color: whitesmoke;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
#title-span{
    background-color: #151f20;
    border-radius: 5px;
    color: whitesmoke;
    justify-content: center;
}
button{
    width: 15%;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    background-color: #151f20;
    color: whitesmoke;
    border: solid whitesmoke;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
p{
    text-align: center;
    color: whitesmoke;
    font-size: large;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
button[disabled]{
    background-color: rgb(119, 21, 21);
    color: gray;
}
@media only screen and (max-width: 700px) {
    form{
        width: 60%;
        margin: auto;
        padding-bottom: 12vh;
    }
    button{
        width: 25%;
    }

  }