<div id="top-bar">
    <div id="main-link" routerLink="">
        <img id="logo-img" src="http://drive.google.com/uc?export=view&id=1YVktoTjNITNIuEB4Vjw0auakTe6RW166" alt="moneta">
        <h1 class="title">Moneta Market</h1>
    </div>
    <div id="contact" routerLink="contact"><h2 class="contact-text">Contact us</h2></div>
    <div class="bar-tab-body">
        <h2 class="bar-tab" routerLink="info">Info</h2>
    </div>
    <div class="bar-tab-body" routerLink="price">
        <h2 class="bar-tab">Pricing</h2>
    </div>
    <div class="bar-tab-body" routerLink="store">
        <h2 class="bar-tab">Store</h2>
    </div>
</div>