<div id="top-bar">
    <div id="main-link">
        <img id="logo-img" src="https://www.dropbox.com/s/slt7wzh9dmz2hh8/NewMonetaLogo.png?raw=1" alt="moneta">
        <h1 class="title">Moneta Market</h1>
    </div>
    <div id="contact" routerLink="contact"><h2>Contact us</h2></div>
    <div class="bar-tab-body">
        <h2 class="bar-tab" routerLink="info">Info</h2>
    </div>
    <div class="bar-tab-body" routerLink="price">
        <h2 class="bar-tab">Pricing</h2>
    </div>
    <div class="bar-tab-body" routerLink="store">
        <h2 class="bar-tab">Store</h2>
    </div>
</div>