<!-- <div id="top-bar" class="bg-transparent-dark navigation-bar">
    
    <div class="bar-tab-body" routerLink="info">
        <h2 class="bar-tab" >Info</h2>
    </div>
    
    <div class="links align-items-center">
        
        
    </div>
</div> -->

<nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-transparent-dark">
    <div class="container-fluid">
        <div id="main-link" routerLink="">
            <img id="logo-img" src="http://drive.google.com/uc?export=view&id=1YVktoTjNITNIuEB4Vjw0auakTe6RW166" alt="moneta">
            <h1 class="title">Moneta Market</h1>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center justify-content-center">
            <div class="bar-tab-body nav-link mx-3" data-bs-toggle="collapse" data-bs-target="#navbarNav" routerLink="info">
                <h2 class="bar-tab" >Info</h2>
            </div>
            <div class="bar-tab-body nav-link mx-3" data-bs-toggle="collapse" data-bs-target="#navbarNav" routerLink="price">
                <h2 class="bar-tab">Pricing</h2>
            </div>
            <div class="bar-tab-body nav-link mx-3" data-bs-toggle="collapse" data-bs-target="#navbarNav" (click)="navigate('/store')">
                <h2 class="bar-tab">Store</h2>
            </div>
            <div *ngIf="!isUserLoggedIn" class="align-self-center nav-link mx-3" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="contact" (click)="login()"><h2 class="contact-text col">Login</h2></div>
            <div *ngIf="isUserLoggedIn" class="align-self-center nav-link mx-3" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="contact" (click)="logout()"><h2 class="contact-text col">Logout</h2></div>
            <div class="align-self-center nav-link mx-3 col-3" id="contact" data-bs-toggle="collapse" data-bs-target="#navbarNav" (click)="navigate('contact')"><h2 class="contact-text">Contact us</h2></div>
            
        </ul>
      </div>
    </div>
  </nav>