#top-bar {
    background-color: #151f20;
    color: white;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    width: 99vw;
    z-index: 3;
    height: 12vh;
}

#logo-img{
    width: 9%;
    padding-left: 10px;
    padding-right: 10px;
}
.title {
    color: whitesmoke;
    margin: auto;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    display: flex;
    text-align: center;
}

#main-link {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 50%;
}

#main-link:hover{
    cursor: pointer;
}
#contact {
    background-color: #0CBABA;
    color: whitesmoke;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.contact-text{
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}
#contact:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: #151f20 !important;
}

.bar-tab-body{
    background-color: #151f20;
    padding: auto;
    color:whitesmoke !important;
    display: flex;
    justify-content: center;
    height: 100% !important;
    width: 100% !important;
}

.bar-tab{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    border-radius: 5px;
}
.bar-tab-body:hover{
    cursor: pointer;
    background-color: whitesmoke !important;
    color:#151f20 !important;
}
.links{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 700px) {
    #logo-img{
        width: 15%;
        padding-left: 10px;
        padding-right: 10px;
    }
    #main-link {
        max-width: 80%;
    }

    #contact {
        width: 100%;
    }
    .nav-link{
        width: 100vw;
    }
    .mx-3{
        margin-right: 0!important;
        margin-left: 0!important;
    }

  }