.footer{
    background-color: #151f20;
    color: rgb(190, 190, 190);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    margin-top: 2%;
}
#text-space{
    padding-top: 2%;
}