<div class="content bg-gradient-dark">
    <br>
    <h2 class="title-text1"> Orders</h2>
    <br>
    <p class="title-text1">Your order has been processed and you will receive it shortly</p>
    <div id="order-row" class="row d-flex justify-content-between animate__animated animate__fadeIn rounded"  >
      <div class="col d-flex align-items-center"><h3 class="title-text1">Sent to : </h3></div>
      <div class="col d-flex align-items-center"><h3 class="title-text1">Name : </h3></div>
      <div class="col d-flex align-items-center"><h3 class="title-text1">Price : </h3></div>
      <div class="col d-flex align-items-center"><h3 class="title-text1">Status : </h3></div>
    </div>
</div>