<div class="store-list bg-gradient-dark">
    <div id="item"class="animate__animated animate__fadeInRight row d-flex justify-content-center" >
        <div class="col-3 d-flex justify-content-center">
            <img class="photo rounded" src="https://m.media-amazon.com/images/I/81arGTJu8uL._AC_SL1500_.jpg" alt="">
        </div>
        <div class="col-4">
            <h2 class="title-text1">Fingerprint Reader 88003-001U</h2>
            <p class="text-space1">The BioSlap employs the most advanced optical technology and dedicated special light source that allow high speed print image capturing and seamless image processing, which ensure the best image quality for slap prints as well as for rolled fingerprints.</p>
            <ul>
                <li>Aplicaciones de objetivo: seguridad de PC de escritorio, PC móvil, aplicaciones personalizadas</li>
                <li>Tamaño aproximado del lector: 2.559 in x 1.417 in x 0.613 in</li>
                <li>Compatible con especificaciones USB 1.0, 1.1 y 2.0 (velocidad completa) y no incluye software</li>
            </ul>
            <button id="buy-button" class="col-3 bg-info rounded">Purchase<img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/ffffff/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png"/></button>
        </div>
    </div>
    <div id="item"class="animate__animated animate__fadeInRight row d-flex justify-content-center" >
        <div class="col-3 d-flex justify-content-center">
            <img class="photo rounded" src="https://m.media-amazon.com/images/I/71ECWL+bwYL._AC_SL1500_.jpg" alt="">
        </div>
        <div class="col-4">
            <h2 class="title-text1">Fingerprint Reader 88003-001U</h2>
            <p class="text-space1">The BioSlap employs the most advanced optical technology and dedicated special light source that allow high speed print image capturing and seamless image processing, which ensure the best image quality for slap prints as well as for rolled fingerprints.</p>
            <ul>
                <li>Aplicaciones de objetivo: seguridad de PC de escritorio, PC móvil, aplicaciones personalizadas</li>
                <li>Tamaño aproximado del lector: 2.559 in x 1.417 in x 0.613 in</li>
                <li>Compatible con especificaciones USB 1.0, 1.1 y 2.0 (velocidad completa) y no incluye software</li>
            </ul>
            <button id="buy-button" class="col-3 bg-info rounded">Purchase<img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/ffffff/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png"/></button>
        </div>
    </div>
    <div id="item"class="animate__animated animate__fadeInRight row d-flex justify-content-center" >
        <div class="col-3 d-flex justify-content-center">
            <img class="photo rounded" src="https://sc04.alicdn.com/kf/Hf967daec188048d7b5ae61525df05a64d.png" alt="">
        </div>
        <div class="col-4">
            <h2 class="title-text1">Fingerprint Reader 88003-001U</h2>
            <p class="text-space1">The BioSlap employs the most advanced optical technology and dedicated special light source that allow high speed print image capturing and seamless image processing, which ensure the best image quality for slap prints as well as for rolled fingerprints.</p>
            <ul>
                <li>Aplicaciones de objetivo: seguridad de PC de escritorio, PC móvil, aplicaciones personalizadas</li>
                <li>Tamaño aproximado del lector: 2.559 in x 1.417 in x 0.613 in</li>
                <li>Compatible con especificaciones USB 1.0, 1.1 y 2.0 (velocidad completa) y no incluye software</li>
            </ul>
            <button id="buy-button" class="col-3 bg-info rounded">Purchase<img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/ffffff/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png"/></button>
        </div>
    </div>
    <button (click)="navigate('/products')">Add Product</button>
</div>
<app-footer></app-footer>