.store-list{
    margin-top: 15vh;
    padding-bottom: 17vh;
}
#item{
  padding: 25px;
  margin: 25px;
  background-color: darkgrey;
}
.photo{
    width: 80%;
    margin: auto;
}
.title-text1{
    color: whitesmoke;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
.text-space1{
    color: whitesmoke;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
}
li{
    color: black;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
}
#buy-button{
    color: white;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-weight: 600;
    border: solid 1px gray;
    background-color: black;
}
#buy-button:hover{
    filter: invert(100%);
}
.spinner-container{
    margin-top: 50px;
    padding-top: 50px;
}
#prod-img{
    width: 100% !important;
    height: 350px !important;
    object-fit: cover;
}
.carousel-indicators {
    bottom:-30px;
  }
  .carousel-inner {
    margin-bottom:20px;
 }