<div class="store-list bg-gradient-dark ">
  <!-- <h1>{{productsList[0] | json}}</h1> -->
  <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center animate__animated animate__fadeInLeft">
    <div class="card" id="item" style="width: 25rem;" *ngFor="let product of productsList; index as i">
        <img src="{{productsList[i] | image}}" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{productsList[i].name}}</h5>
          <p class="card-text" *ngIf="productsList[i].quantity > 0">Remaining in stock: {{productsList[i].quantity}}</p>
        </div>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item">Price: {{productsList[i].price | currency}}</li>
          <li class="list-group-item" *ngIf="productsList[i].deliveryTime">Time of delivery: {{productsList[i].deliveryTime}}</li>
          <li class="list-group-item">Detail</li>
        </ul>
        <button id="buy-button" class="col-4 bg-info mt-2 rounded">Purchase<img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/20/ffffff/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png"/></button>
      </div>
  </div>
</div>
<app-admin-dashboard *ngIf="isUserLoggedIn"></app-admin-dashboard>
<app-footer *ngIf="!isUserLoggedIn"></app-footer>