.dashboard{
    background-color: #151f20;
    width: 100%;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    bottom: 0;
    padding: 15px;
    position: fixed;
}
svg{
    margin: auto;
}
.cart-card{
    width: 10%;
    border-radius: 5px;
    border: solid 1px azure;
    background-color: whitesmoke;
    cursor: pointer;
}
.payment-card{
    width: 11%;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px azure;
    background-color: whitesmoke;
}
h5{
    margin: auto;
    text-align: center;
}
.item-box{
    width: 9%;
    height: 50%;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    border-radius: 5px;
    border: solid 1px azure;
    background-color: darkgrey ;
    padding-left: 5px; 
    padding-right: 5px;
    margin: 5px;
}
#delete-icon{
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px black;
    background-color: rgb(172, 30, 30);
    padding: 2px;
}
#cart-card-img{
    height: 50%;
    width: 50%;
}
@media only screen and (max-width: 700px) {
    h2{
        display: none;
    }
    h5{
        font-size: small;
        font-weight: 600;
    }
    #cart-card-img{
        height: 50%;
        width: 50%;
    }
    .cart-card{
        width: 15%;
        height: 75%;
    }
    .item-box{
        width: 30%;
        height: 20%;
        font-size: small;
    }
  }