<div class="content bg-gradient-dark">
    <br>
    <h2 *ngIf="isUserLoggedIn" class="title-text1">Please confirm your information </h2>
    <h2 *ngIf="!isUserLoggedIn" class="title-text1">Please add your information </h2>
    <div class="d-flex justify-content-center">
      <div class="row container animate__animated animate__fadeInLeft d-flex justify-content-center">
        <div *ngIf="isUserLoggedIn" class="col-6">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item"><strong> Name - {{user.firstName}} {{user.lastName}}</strong></li>
            <li class="list-group-item"><strong>Email - {{user.email}}</strong></li>
            <li class="list-group-item"><strong>Phone - 6464646584</strong></li>
            <li class="list-group-item"><strong>Address - P. Sherman Wallaby Street</strong></li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item" *ngFor="let item of items; index as i"><strong> Product - {{items[i].name}} | {{items[i].price | currency}}</strong></li>
            <li class="list-group-item text-align-center"><strong> Total - {{total | currency}} </strong></li>
          </ul>
        </div>
        <div *ngIf="!isUserLoggedIn" class="col-6">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item"><strong>First name -  </strong> <input type="text" placeholder="Chris"></li>
            <li class="list-group-item"><strong>Last name -  </strong><input type="text" placeholder="Email"></li>
            <li class="list-group-item"><strong>Email -  </strong><input type="text" placeholder="Email"></li>
            <li class="list-group-item"><strong>Phone -  </strong><input type="text" placeholder="512-592-9841"></li>
            <li class="list-group-item"><strong>Address -  </strong><input type="text" placeholder="Ur Street #4132"></li>
          </ul>
          </div>
      </div>
    </div>
    <br>
    <h2 class="title-text1"> Items in detail</h2>
    <br>
    <div id="item-row" class="row d-flex justify-content-between animate__animated animate__fadeIn rounded" *ngFor="let item of items; index as i" >
      <div class="col col-sm d-flex justify-content-center image-container"><img class="d-block w-75 rounded" src="{{items[i].imageData | image}}" alt=""></div>
      <div class="col d-flex align-items-center"><h3 class="title-text1">Name : {{items[i].name}}</h3></div>
      <div class="col d-flex align-items-center"><h3 class="title-text1">Price : {{items[i].price | currency}}</h3></div>
      <div class="col d-flex align-items-center"><h3 class="title-text1">Description : {{items[i].deliveryTime}}</h3></div>
    </div>
  </div>